.category_container {
  position: relative;
  margin-top: -100px; /* pulls cards up into hero image */
  margin-bottom: 100px;
  padding: 0 40px;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;

  padding-bottom: 20px;
}

.category {
  flex: 0 0 300px;
  height: 360px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  text-align: center;
  transition: transform 0.3s ease;
}

.category:hover {
  transform: translateY(-10px);
}

.category img {
  width: 100%;
  height: 240px;
  object-fit: contain;
  padding: 20px 10px 10px;
  background: #fbfbfb;
}

.category h2 {
  font-size: 1.25rem;
  margin: 15px 10px 8px;
  color: #0f1111;
}

.category p {
  color: #007185;
  font-weight: 700;
  margin: 0 10px 15px;
}
.category a {
  text-decoration: none !important;
  color: inherit;
}

.category a:hover {
  text-decoration: none !important;
}
